
@{
    ViewBag.Title = "Create";
}

<h2>Cargar Constelaciones</h2>
<hr />

<form method="post" action="/Home/Create">
    <label for="Siglo">Siglo</label>
    <br />
    <input type="text" name="siglo" required />
    <br />
    <br />
    <label for="nombre">Nombre</label>
    <br />
    <input type="text" name="nombre" />
    <br />
    <br />
    <input type="submit" value="Grabar" />
    <br />
    <br />
</form>

